In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/oscar/.local/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /home/oscar/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/oscar/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /home/oscar/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
produtos = pd.read_excel('estoque.xlsx')

In [4]:
produtos.head()

,id,marca,categoria,descricao,quantidade,preco_compra
0,1,Fragranze Spa,Sabonete Para Hotel Massa Branca,Mini Sabonete Hotel Fragranze Spa 13g - Cx 500...,1000,108.23
1,2,Naturallys,Sabonete Para Hotel Massa Branca,Mini Sabonete Hotel Naturallys 13g - Cx 500 und,1000,106.73
2,3,Naturallys,Sabonete Para Hotel Massa Branca,Sabonete Naturallys 20g Dovely Cx com 400 und,1000,123.45
3,4,Naturallys,Shampoos e Condicionadores,Shampoo Sache 2 em 1 Para Hotel Naturallys 10 ...,1000,60.92
4,5,Naturallys,Shampoos e Condicionadores,Shampoo sache 30 ml Naturallys cx 250 und,1000,82.00

In [5]:
marcas = pd.DataFrame({ 'nome': produtos.marca.unique() })
marcas['id'] = marcas.index + 1

categorias = pd.DataFrame({ 'titulo': produtos.categoria.unique() })
categorias['id'] = categorias.index + 1

In [6]:
marcas.head()

            nome  id
0  Fragranze Spa   1
1     Naturallys   2
2      Atlântica   3
3        Abdouni   4
4     Abdounitex   5

In [7]:
categorias.head()

                                titulo  id
0     Sabonete Para Hotel Massa Branca   1
1           Shampoos e Condicionadores   2
2                    Toalha Para Hotel   3
3  Lençol de Hotel, Cobertores e Afins   4
4                              Xicaras   5

# SQLite

In [9]:
import sqlite3
con = sqlite3.connect("../db.sqlite3")
cur = con.cursor()

# cur.execute("select name from sqlite_master where type = 'table';")
# for t in cur.fetchall():
#   print(t[0])

# estoque_marca
# estoque_categoria
# estoque_produto
# estoque_estoque

In [10]:
cur.execute("select * from estoque_produto;")
for e in cur.fetchall():
  print(e)

In [11]:
sql = f"delete from estoque_marca;"
cur.execute(sql)
sql = f"delete from estoque_categoria;"
cur.execute(sql)
sql = f"delete from estoque_produto;"
cur.execute(sql)
con.commit()

In [12]:
marca_dict = {}
for e in marcas.itertuples():
  sql = f"insert into estoque_marca (id, nome) values ({e.id}, '{e.nome}');"
  cur.execute(sql)
  marca_dict[e.nome] = e.id
con.commit()

In [13]:
categoria_dict = {}
for e in categorias.itertuples():
  sql = f"insert into estoque_categoria (id, titulo) values ({e.id}, '{e.titulo}');"
  cur.execute(sql)
  categoria_dict[e.titulo] = e.id
con.commit()

In [14]:
produto_dict = {}
for e in produtos.itertuples():
  sql = f"insert into estoque_produto (id, marca_id, categoria_id, descricao) values ({e.id}, {marca_dict[e.marca]}, {categoria_dict[e.categoria]}, '{e.descricao}');"
  cur.execute(sql)
con.commit()

In [15]:
for e in produtos.itertuples():
  sql = f"insert into estoque_estoque (id, produto_id, quantidade, preco_compra) values ({e.id}, {e.id}, {e.quantidade}, {e.preco_compra});"
  cur.execute(sql)
con.commit()